@charset "utf-8";
/* CSS Document */
body{
	background-image: url("../images/bg.png")
}
.header{
  width: 100%;
   
  background: var(--body-color); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/*=============== NAV ===============*/
.nav{
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
  font-family: 思源宋体;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: 1000;
  font-size: 30px;
  color:blue;
}
.nav__logo-img{
	margin-top: 10px;
  width: 5rem;
}
.nav__link,
.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}
.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.nav__img{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
}
.nav__list{
	display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  margin: 10px auto;
    /* 设置宽度为60%窗口宽度 */
    margin-top: 0.5%;
  
    line-height: 50px;

}
.nav__item{
	margin: 10px;
}
.nav__link{
  text-transform: uppercase;
  font-weight: var(--font-black);
  transition: .4s;
}
.nav__link:hover{
  color: var(--text-color);
}
/* Show menu */
.show-menu{
  top: 0;
}
/* Change background header */
.scroll-header{
  background: var(--container-color);
}
/* Active link */
.active-link{
  position: relative;
}
.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}
